.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  row-gap: 30px;
}

label,
input {
  display: block;
  width: 100%;
  padding-top: 10px;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
  width: 300px;
}

input.error {
  border-color: red;
}

.input-feedback_changepassword {
  color: rgb(235, 54, 54);
  margin-top: 3px;
  font-size: 14px;
  margin-bottom: 20px;
  position: absolute;
}

button {
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
}

.wrapper {
  position: relative;
  padding-left: 50px !important;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 270px;
  transform: translateY(-215%);
  padding-top: 19px;
}
